.studentCard {
    font-size: 20px;
    background-color: #7D8F69;
    font-weight: 600;
    opacity: 0.9;
    transition: all 0.3s ease;

}

.studentCard:hover {
    transform: scale(1.1);
    font-size: 25px;
    background-color: wheat;

}


.billCard {
    font-size: 20px;
    background-color: #7D8F69;
    font-weight: 600;
    opacity: 0.9;
    transition: all 0.3s ease;
}

.billCard:hover {
    transform: scale(1.1);
    font-size: 25px;
    background-color: wheat;


}


.coursesCard {
    font-size: 20px;
    background-color: #7D8F69;
    font-weight: 600;
    opacity: 0.9;
    transition: all 0.3s ease;
}

.coursesCard:hover {
    transform: scale(1.1);
    font-size: 25px;
    background-color: wheat;
}



/* ---------------------------------------TABLE-------------------------------------------- */




.studentTable{
    background-color: #EAEAEA;
}