header {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

header h1 {
    font-size: 85px;
}

.content-form {
    color: #fff;
    float: left;
}

.content-form .contactSections {

    padding: 10px;
    margin-top: 45px;
    text-align: center;
}

.form {
    color: #fff;
    float: right;
    margin-top: 45px;
}

.form .contact-form input {
    color: #fff;
    width: 30rem;
    background-color: transparent;
    border: 0px;
    border: transparent;
    padding: 20px;
    font-size: 18px;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
}

.form .contact-form textarea {
    color: #fff;
    width: 30rem;
    border: 0;
    background-color: transparent;

    font-size: 17px;
    border-bottom: 2px solid #fff;
}


.form .contact-form input[type=submit] {
    color: #fff;
    background-color: crimson;
    border: 2px solid crimson;
    font-size: 18px;
    width: 100%;
    height: 80px;
    margin-top: 20px;
}

.form .contact-form input[type=submit]:hover {
    background-color: transparent;
    color: crimson;
}

.media {
    margin-top: 15px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;

}

.media li {
    margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
    /* .contact-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;

        margin-left: 10vh;
    } */


}